* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #A7727D;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: #EDDBC7;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #A7727D;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #666;
}

.input-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px;
}

.input-wrapper i {
    margin-right: 10px;
    color: #A7727D; 
}


.input-wrapper input {
    border: none;
    outline: none;
    font-size: 14px;
    color: #333;
    background-color: transparent;
    width: 100%;
}


.input-wrapper input::placeholder {
    color: #A7727D;
}


.button {
    background-color: #A7727D;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

.button:hover {
    background-color: #935f6d; 
}

.error {
    color: red;
    margin-bottom: 15px;
}
